body {
    background-color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}
.navBar {
    height: 10vh;
    width: 100%;
    background-color: violet;
}
.pageWrapper{
    display: flex;
    flex-direction: column;
    height: 200vh;
}
.upperPage {
    display: grid;
    grid-template-columns: 30% 70%;
}

.imageSection {
    height: 90vh;
    background-color: teal;
}

.infoSection {
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* position: absolute; */
}
.aboutSection {
    display: block;
    background-color: rgb(58, 49, 58);
    flex: 1;
    text-align: center;
    color: white;
}

.gridSection {
    /* background-color: whitesmoke; */
    display: grid;
    grid-template-columns: auto auto auto;
}

.infoBox {
    background-color: rgb(58, 49, 58);
    color: white;
    text-align: center;
    height: 30vh;
    border: solid 2px gold;
    border-radius: 5px;
    margin: 1.5em;
}